.App {
  text-align: center;
}

.app {
  background-color: #a8a8a8;
  background-image: radial-gradient(
    circle at center,
    #555555 1px,
    transparent 0
  );
  background-size: 8px 8px;
  background-repeat: round;
  padding-top: 5vh;
  padding-bottom: 4.5vh;
  height: 100%;
  width: 100%;
  position: fixed;
}

.App-logo {
  height: 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Home{
  background-color:#c8c8c8;
  display: flex;
  justify-content: center;
  box-shadow: #454545 -6px 6px;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  min-width: 270px;
  width: 85vw;
  min-height: 90vh;
  border: 2px solid #000000;
  border-radius: 0vw 2.5vw 2.5vw 2.5vw;
  z-index: 2;
  position: fixed;
  overflow: hidden;
}

.navBar {
  background-color:#c8c8c8;
  box-shadow: #454545 -6px 0px;
  margin-left: 7.5vw;
  margin-right: auto;
  margin-top: -2.5vh;
  min-width: 270px;
  width: 25vw;
  height: 3.5vh;
  border: 2px solid #000000;
  border-bottom: transparent;
  border-radius: 1vw 1vw 0vw 0vw;
  position: fixed;
  top: 4vh;
  left: 0;
  right: 0;
  z-index: 1;
}

.navButton {
  font: black bold 10px;
  position: relative;
  min-width: 90px;
  width: 33%;
  height: 100%;
  background-color: #c8c8c8;
  border-radius: 1vw;
  border-color: transparent;
}

.Login {
  background-color:#c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #454545 -6px 6px;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 15vh;
  width: 40vw;
  height: 60vh;
  border: 1px solid #000000;
  border-radius: 2.5vw;
}

.profileButton {
  background-color: #c8c8c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: #454545 -6px 6px;
  position: fixed;
  margin-left: auto;
  margin-right: 1.5vw;
  margin-top: -3vh;
  min-width: 1vw;
  min-height: 1vh;
  width: 90px;
  height: 90px;
  right: 0px;
  border: 1px solid #000000;
  border-radius: 1vw;
}

.profileImage {
  width: 67%;
  height: 67%;
  border-radius: 30px;
  margin-top: 10%;
}

.displayName {
  font-weight: bold;
  font-size: 9px;
  margin-bottom: 10%;
}

.Player{
  background-color: #a8a8a8;
  max-height: 10vh;
  min-width: 215px;
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  padding-top: 1vh; 
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  box-shadow: #666666 -4px 4px;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000000;
  border-radius: 2vh;
}

.Player-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Player-text{
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  text-align: center;
  justify-content: center;
}


.btn-spotify {
  background-color: #1ed760;
  color: black;
  display: flex;
  box-shadow: #666666 -3px 3px;
  justify-content: center;
  align-items: center;
  font: 12px;
  font-weight: bold;
  text-decoration: none;
  min-width: 20%;
  height: 5vh;
  border-radius: 2.5vh;
}

.btn-spotify-player {
  background-color: #1ed760;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 10px;
  font-weight: bold;
  text-decoration: none;
  min-width: 30%;
  min-height: 120%;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2.5vh;
}

.song{
  font-size: medium;
}

.artist{
  font-size: smaller;
}

.Player-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
}

.now-playing__cover{
  height: 8vh;
  width: 8vh;
  border-radius: 1vh;
  box-shadow: #555555 -2px 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
