.App {
  text-align: center;
}

.app {
  background-color: #a8a8a8;
  background-image: radial-gradient(
    circle at center,
    #555555 1px,
    transparent 0
  );
  background-size: 8px 8px;
  background-repeat: round;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 90vh;
  width: 100%;
}

.App-logo {
  height: 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdownButton {
  width: 120px;
  background-color: white;
  border-radius: 8px;
  border-width: 1px;
}

.dropdownContainer {
  position: absolute;
  background-color: white;
  width: 120px;
  height: min-content;
  border-radius: 8px;
}

.dropdownMenu {
  position: relative;
  display: inline-flexbox;
  justify-content: left;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  width: 120px;
  height: fit-content;
}

.dropdownItem {
  position: relative;
  height: min-content;
  border: 1px solid black;
  border-radius: 2px;
}

.dropdownItemButton {
  position: relative;
  background: none;
  border: none;
  padding: 0px;
  padding-inline: 0px;
  padding-block: 0px;
  margin: 0px;
  width: 120px;
  height: 15px;
}

.Home{
  background-color:#c8c8c8;
  display: flex;
  box-sizing: content-box;
  justify-content: center;
  box-shadow: #454545 -6px 6px;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  margin-bottom: -2.5vh;
  min-width: 270px;
  width: 85vw;
  min-height: 90vh;
  height: fit-content;
  border: 2px solid #000000;
  border-radius: 0vw 2.5vw 2.5vw 2.5vw;
  z-index: 2;
}

.navBar {
  background-color:#c8c8c8;
  box-shadow: #454545 -6px 0px;
  margin-left: 7.5vw;
  margin-right: auto;
  margin-top: -2.5vh;
  min-width: 270px;
  width: 25vw;
  height: 3.5vh;
  border: 2px solid #000000;
  border-bottom: transparent;
  border-radius: 1vw 1vw 0vw 0vw;
  top: 4vh;
  left: 0;
  right: 0;
  z-index: 1;
}

.navButton {
  font: black bold 10px;
  position: relative;
  min-width: 90px;
  width: 33%;
  height: 100%;
  background-color: #c8c8c8;
  border-radius: 1vw;
  border-color: transparent;
}

.Login {
  background-color:#c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #454545 -6px 6px;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 15vh;
  width: 40vw;
  height: 60vh;
  border: 1px solid #000000;
  border-radius: 2.5vw;
}

.profileTab {
  display: block;
  text-align: center;
  padding-top: 5vh;
}

.profileLink {
  text-decoration: none;
}

.profileTab img {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  min-width: 180px;
  min-height: 180px;
  margin-left: auto;
  margin-right: auto;
}

.profileTab h1 {
  color: black;
  font-weight: bold;
  font-size: 3vh;
}

.profileHeader {
  color: #333333;
  font-weight: 550;
  font-size: 2.5vh;
}

.profileInfo {
  color: #383838;
  font-weight: 400;
  font-size: 2.15vh;
  text-transform: capitalize;
  margin-top: -2vh;
}

.profileButton {
  background-color: #c8c8c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: #454545 -6px 6px;
  position: fixed;
  margin-left: auto;
  margin-right: 1.5vw;
  margin-top: -3vh;
  min-width: 1vw;
  min-height: 1vh;
  width: 90px;
  height: 90px;
  right: 0px;
  border: 1px solid #000000;
  border-radius: 1vw;
}

.profileImage {
  width: 67%;
  height: 67%;
  border-radius: 30px;
  margin-top: 10%;
}

.activeTimes {
  font-weight: bold;
  font-size: 16px;
}

.activeTimes p{
  font-weight: lighter;
  font-size: 12px;
}

.playlistsTab {
  width: 100%;
}

.playlistItem {
  position: relative;
  display: flex;
  box-sizing: content-box;
  height: 4.25vh;
  width: 100%;
  border-bottom: 2px solid #000000;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.playlistItem img{
  position: absolute;
  left: 1%;
  height: 3vh;
  width: 3vh;
  margin: .5vw;
}

.playlistItem p {
  margin: .5vw;
}

.playlistName {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  left: 7.5%;
  font-weight: bold;
  width: 32%;
  font-size: 16px;
  text-overflow: ellipsis;
}

.playlistDisplay {
  position: absolute;
  left: 40%;
  font-size: 16px;
}

.playlistPublic {
  position: absolute;
  left: 60%;
  font-size: 14px;
}

.playlistTracks {
  position: absolute;
  left: 80%;
  font-size: 14px;
}

.playlistButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-spotify-playlists {
  background-color: #1ed760;
  color: black;
  font: 10px;
  font-weight: bold;
  text-decoration: none;
  min-width: 60px;
  min-height: 20px;
  border-radius: 10px;
}

.displayName {
  font-weight: bold;
  font-size: 9px;
  margin-bottom: 10%;
}

.Player{
  background-color: #a8a8a8;
  max-height: 10vh;
  min-width: 215px;
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  padding-top: 1vh; 
  padding-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  box-shadow: #666666 -4px 4px;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000000;
  border-radius: 2vh;
}

.Player-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Player-text{
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  text-align: center;
  justify-content: center;
}


.btn-spotify {
  background-color: #1ed760;
  color: black;
  display: flex;
  box-shadow: #666666 -3px 3px;
  justify-content: center;
  align-items: center;
  font: 12px;
  font-weight: bold;
  text-decoration: none;
  min-width: 20%;
  height: 5vh;
  border-radius: 2.5vh;
}

.btn-spotify-player {
  background-color: #1ed760;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 10px;
  font-weight: bold;
  text-decoration: none;
  min-width: 30%;
  min-height: 120%;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2.5vh;
}

.song{
  font-size: medium;
}

.artist{
  font-size: smaller;
}

.Player-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
}

.now-playing__cover{
  height: 8vh;
  width: 8vh;
  border-radius: 1vh;
  box-shadow: #555555 -2px 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
